---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import TabsNew from '../components/TabsNew';
import itineraryData from '../data/itineraryData.json';

const today = new Date();
const firstDateStr = itineraryData[0].date;
const firstTimeStr = itineraryData[0].items[0].time;
const firstDay = new Date(`${firstDateStr} ${firstTimeStr}`);
const title = 'Tokyo 2025 Trip Itinerary'
const description = 'One week exploration to Tokyo Japan & Fuji in Autumm Season'

---
<Header firstDay={firstDay} />
<Layout title="Tokyo Trip Itinerary">
  <div class="relative flex size-full min-h-screen flex-col bg-transparent group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col">
      <div class="px-4 md:px-8 lg:px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
          
          
          <div class="flex flex-col gap-6 p-4">
            <div class="flex flex-wrap justify-between gap-3">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-amber-900 tracking-light text-[32px] font-bold leading-tight">{title}</p>
                <p class="text-amber-800/80 text-sm font-normal leading-normal">{description}</p>
              </div>
            </div>

            <div class="backdrop-blur-sm bg-white/30 rounded-2xl shadow-lg border border-amber-100/50">
              <TabsNew itinerary={itineraryData} client:load />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout> 